/* this stylesheet is used when generating a PDF with PrinceXML or any other tool that understands the CSS used. */

html,
body {
  margin: 0;
  padding: 0;
}

/* reset chapter and figure counters on the body */
body {
  counter-reset: chapternum figurenum;
  font-family: Serif;
  font-size: 11pt;
  line-height: 1.5;
}

@page {
  /* A5 = 14.8cm x 21cm */
  size: A5;
  margin-top: 2cm;
  margin-bottom: 2cm;
  margin-inside: 2.5cm;
  margin-outside: 1.8cm;
}

@page:first {
  size: A5;
  margin: 0;
  background-image: url("images/cover.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-size: 104%;
  marks: crop cross;
  bleed: 0.25in;
  -prince-trim: 0.25in; */
}

img {
  max-width: 100%;
}

.frontcover {
  content: "";
}


/* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
@page:right {
  @bottom-left {
    margin: 0.36cm 0 1cm 0;
    /* border-top: 0.01cm solid #888; */
    /* content: "Amor ao Bem"; */
    font-size: 9pt;
    color: #555;
  }
  @bottom-right {
    margin: 0.36cm 0 1cm 0;
    /* border-top: 0.01cm solid #888; */
    content: counter(page);
    font-size: 9pt;
    color: #555;
  }
  @top-right {
    content: string(doctitle);
    margin: 1cm 0 0.36cm 0;
    font-size: 9pt;
    color: #555;
  }
}

/* styles for the left hand spread 
Bottom right book title, bottom left current page */
@page:left {
  @bottom-right {
    margin: 0.36cm 0 1cm 0;
    /* border-top: 0.01cm solid #888; */
    /* content: "Amor ao Bem"; */
    font-size: 9pt;
    color: #555;
  }
  @bottom-left {
    margin: 0.36cm 0 1cm 0;
    /* border-top: 0.01cm solid #888; */
    content: counter(page);
    font-size: 9pt;
    color: #555;
  }
  @top-left {
    content: "Amor ao Bem";
    margin: 1cm 0 0.36cm 0;
    font-size: 9pt;
    color: #555;
  }
}

/* get the title of the current chapter - this will be the content of the h1 
reset figure counter as figures start from 1 in each chapter */
h1 {
  string-set: doctitle content();
  page-break-before: always;
  counter-reset: figurenum;
  counter-reset: footnote;
  line-height: 1.3;
}

/* increment chapter counter */
/* h1.chapter:before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
} */

/* increment chapter counter for h2 (As Palavras de Buda) */
h2.chapter:before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
}

/* increment and display figure counter */
figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}

/* footnotes */
.fn {
  float: footnote;
}

.fn {
  counter-increment: footnote;
  font-size: 9pt;
  color: #555;
}

.fn::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  line-height: none;
  font-size: 9pt;
  /* color: #555; */
}

.fn::footnote-marker {
  /* font-weight: bold; */
  font-size: 9pt;
  color: black;
}

@page {
  @footnotes {
    border-top: 0.01cm solid #888;
    padding-top: 0.36cm;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
}

h1 + p,
h2 + p,
h3 + p {
  page-break-before: avoid;
}

table,
figure {
  page-break-inside: avoid;
}

ul.toc {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* create page numbers using target-counter in the TOC */
ul.toc a::after {
  content: leader(".") target-counter(attr(href), page);
}

ul.toc li {
  line-height: 2;
}

ul.toc li a {
  text-decoration: none;
}

a {
  color: #000;
}

/* add page number to cross references */
a.xref:after {
  content: " (page " target-counter(attr(href, url), page) ")";
}

/* Utility classes */

.text-right {
  text-align: right;
}

.verse-p1 {
/* Verse by the '1st person' in the poem dialog */
  font-style: italic;
}

.verse-p2 {
/* Verse by the '2nd person' in the poem dialog */
  font-style: italic;
  text-align: right;
}