/* This stylesheet is used when generating a PDF with PrinceXML or any other tool that understands the CSS used. */

/* Variables - main book styles should be updated here */
:root {
  --font-size-default: 10.5pt;
  --font-size-lg: 12pt;
  --font-size-sm: 9pt;
  --font-size-xs: 8pt;
  --font-size-xxs: 6pt;
  
  --line-height-default: 1.4;
  --line-height-condensed: 1.1;

  --color-text-default: black;
  --color-text-light: #666;
  --color-ui-light: #aaa;
  --color-ui-dark: #666;
  
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  
  --page-margin-sm: 1cm;
  --page-margin-md: 1.5cm;
  --page-margin-lg: 2cm;
  
  --page-region-margin-outer: 0.36cm;
  --page-region-margin-inner: 1cm;
  --page-region-margin-left: 0;
  --page-region-margin-right: 0;

  --space-md: 1cm;
  --space-sm: 0.5cm;
  --space-xs: 0.3cm;
  --space-xxxl: 2.5cm;
  
  --border-thickness-default: 0.01cm;
}

/* Main font */
@font-face {
  font-family: BookFont;
  src: prince-lookup("Inria Serif"),
       local("../fonts/InriaSerif-Light.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Reset chapter and figure counters on the body */
body {
  counter-reset: chapternum figurenum footnote;
  font-family: BookFont, prince-no-fallback;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  color: var(--color-text-default);
}

@page {
  /* A5 = 14.8cm x 21cm */
  size: A5;
  margin-top: var(--page-margin-md);
  margin-bottom: var(--page-margin-md);
  margin-inside: var(--page-margin-lg);
  margin-outside: var(--page-margin-md);
  font-family: BookFont, prince-no-fallback;

  @bottom-center {
    margin: var(--page-region-margin-outer) var(--page-region-margin-right) var(--page-region-margin-inner) var(--page-region-margin-left);
    content: counter(page);
    font-family: BookFont, prince-no-fallback;
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-xs);
    color: var(--color-text-light);
  }
}

/* Styles for pages on the right */
@page:right {
  @top-right {
    content: string(chaptertitle);
    margin: var(--page-region-margin-inner) var(--page-region-margin-right) var(--page-region-margin-outer) var(--page-region-margin-left);
    font-family: BookFont, prince-no-fallback;
    font-style: italic;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
  }
}

/* Styles for pages on the left */
@page:left {
  @top-left {
    content: "Amor ao Bem";
    margin: var(--page-region-margin-inner) var(--page-region-margin-right) var(--page-region-margin-outer) var(--page-region-margin-left);
    font-family: BookFont, prince-no-fallback;
    font-style: italic;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-sm);
    color: var(--color-text-light);
  }
}

/* Front cover */
div.frontcover {
  page: frontcover;
  -prince-page-group: start;
}

@page frontcover {
  background-image: url("images/cover.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @bottom-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

/* Main chapters cover */
div.secondary-cover {
  page: secondary-cover;
  -prince-page-group: start;
}

@page secondary-cover {
  background-image: url("images/secondary-cover.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-inside: var(--page-margin-sm);
  margin-outside: var(--page-margin-sm);

  @bottom-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

/* Special title and subtitle for the two main parts of the book */
div.secondary-cover p.pali {
  margin-top: -1.7cm;
  font-size: 22pt;
  font-family: Serif, prince-no-fallback;
  font-style: italic;
  text-align: center;
}
div.secondary-cover h1.pali-translation {
  margin-top: 10.2cm;
  margin-bottom: 0;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-lg);
  text-align: center;
}
div.secondary-cover h1 {
  margin-top: 9cm;
  margin-bottom: 0;
  text-align: center;
}
div.secondary-cover p.author {
  margin-top: 7.5cm;
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
  text-align: center;
}

/* Blank page */
div.blank {
  page: blank;
  -prince-page-group: start;
}

@page blank {
  content: "";

  @bottom-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

/* Intro pages - remove information in the borders */
div.intro-page {
  page: intro-page;
  -prince-page-group: start;
}

@page intro-page {
  @bottom-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

@page:blank {
  @bottom-center {
    content: normal;
  }
  @top-left {
    content: normal;
  }
  @top-right {
    content: normal;
  }
}

img {
  max-width: 100%;
}

/* get the title of the current chapter - this will be the content of the h1 
reset figure counter as figures start from 1 in each chapter */
h1 {
  string-set: chaptertitle content();
  counter-reset: figurenum;
  /* break-before: recto; */
  /* counter-reset: footnote; */
  /* line-height: 1.3; */
}

/* increment chapter counter for h2 (As Palavras de Buda) */
h2.chapter::before {
  counter-increment: chapternum;
  content: counter(chapternum) ". ";
}

h2 {
  string-set: chaptertitle "As Palavras de Buda – " content();
  margin-top: var(--space-md);
  margin-bottom: var(--space-xs);
}

.chapter-intro {
  margin-left: var(--space-sm);
  margin-bottom: var(--space-sm);
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
  font-style: italic;
}

/* increment and display figure counter */
figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}

/* footnotes */
.fn {
  float: footnote;
}

.fn {
  margin-bottom: 0.2cm;
  counter-increment: footnote;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-condensed);
  color: var(--color-text-light);
  font-style: normal;
}

.fn::footnote-call {
  content: counter(footnote);
  vertical-align: super;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxs);
  line-height: none;
  color: var(--color-text-default);
}

.fn::footnote-marker {
  vertical-align: super;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-xs);
  color: var(--color-text-default);
}

@page {
  @footnotes {
    border-top: var(--border-thickness-default) solid var(--color-ui-light);
    padding-top: var(--page-region-margin-outer);
    font-family: BookFont, prince-no-fallback;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: BookFont, prince-no-fallback;
  font-weight: var(--font-weight-bold);
  break-after: avoid;
  break-inside: avoid;
}

h1 + p,
h2 + p,
h3 + p {
  break-before: avoid;
  margin-top: 0;
}

blockquote {
  margin-left: calc(var(--space-xxxl) + var(--space-sm));
}

blockquote.blockquote--sm {
  margin-left: var(--space-sm);
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: var(--line-height-default);
}

p.quote::before {
  font-family: BookFont, prince-no-fallback;
  content:"— ";
}

.quote--second-person {
  font-style: italic;
}

table,
figure {
  break-inside: avoid;
}

ol.toc {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl.toc-legend {
  margin-bottom: var(--space-md);
  font-family: Serif, prince-no-fallback;
  font-size: var(--font-size-sm);
  columns: 2;
}

dl.toc-legend dt {
  display: inline-block;
  width: 0.8cm;
  font-family: BookFont, prince-no-fallback;
}

dl.toc-legend dd {
  margin-left: 0;
  margin-bottom: 0;
  display: inline-block;
  width: calc(100% - 0.8cm);
}

/* Emphasis text on 'Serif' font to fix missing special characters */
/* and slightly bigger to align with default font */
em {
  font-family: Serif, prince-no-fallback;
  font-size: 110%;
}

/* Create page numbers using target-counter in the TOC */
ol.toc a::after {
  content: leader(".") target-counter(attr(href), page);
}

ol.toc li {
  line-height: 2;
}

ol.toc li.toc__reference {
  line-height: 1.5;
  font-family: BookFont, prince-no-fallback;
  font-size: var(--font-size-xs);
  color: var(--color-text-light);
  font-style: italic;
}

ol.toc li.toc__h2 {
  margin-left: var(--space-sm);
  line-height: 1.5;
  font-size: var(--font-size-sm);
}

ol.toc li.toc__poem {
  margin-left: var(--space-sm);
  line-height: 1.5;
  font-size: var(--font-size-sm);
}

ol.toc {
  /* Create counter 'subchapter' for links within the TOC main chapter */
  counter-reset: subchapter;
}

li.toc__h2 a {
  counter-increment: subchapter;
}

li.toc__h2 a::before {
  /* Show ordered numbers before each subchapter  */
  content: counter(subchapter) ". ";
}

ol.toc li a {
  text-decoration: none;
}

a {
  color: var(--color-text-default);
}

/* Add page number to cross references */
a.xref:after {
  content: " (page " target-counter(attr(href, url), page) ")";
}

/* Utility classes */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-italic {
  font-style: italic;
}

.text-light {
  color: var(--color-text-light);
}

.ml-1 {
  margin-left: 1cm;
}

.quote-center {
  margin: 8cm 0 7cm 1cm;
  font-style: italic;
}

.quote-center::before {
  position: absolute;
  margin-top: -1.4cm;
  margin-left: -1.4cm;
  content: "“";
  font-size: 80pt;
  color: var(--color-ui-light);
}

.break-before {
  break-before: page;
}

.outdent-first-line {
  margin-left: 1.2cm;
  text-indent: -1.2cm;
}

.divider {
  height: 0.6cm;
  margin-bottom: var(--space-sm);
  background-image: url("images/divider.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Verse blocks */

.verse-block {
  margin-left: var(--space-xxxl);
  margin-bottom: var(--space-sm);
  padding-left: var(--space-sm);
  border-left: var(--border-thickness-default) solid var(--color-ui-light);
  font-style: italic;
  color: var(--color-text-light);
}

.verse-block--monk {
  margin-bottom: var(--space-md);
  border-left: var(--border-thickness-default) solid var(--color-ui-dark);
  font-family: Serif, prince-no-fallback;
  font-style: italic;
  font-size: 110%;
  color: var(--color-text-default);
}

.verse-block--monk::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/monk.svg");
}

.verse-block--younger::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/younger.svg");
}

.verse-block--young::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/young.svg");
}

.verse-block--teen::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/teen.svg");
}

.verse-block--older-teen::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/older-teen.svg");
}

.verse-block--young-adult::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/young-adult.svg");
}

.verse-block--adult::before {
  position: absolute;
  margin-left: -3cm;
  content: url("images/adult.svg");
}

.verse-block--start::before {
  position: absolute;
  margin-left: -2.5cm;
  text-align: right;
  font-size: var(--font-size-xs);
  content: "Isto é o que \A foi dito:";
  white-space: pre-wrap;
}

.verse-block--end::before {
  position: absolute;
  margin-left: -3cm;
  text-align: right;
  font-size: var(--font-size-xs);
  content: "É para lembrar \A disso que isto \A foi dito:";
  white-space: pre-wrap;
}

.verse-reason {
  margin-top: -0.3cm;
  width: calc(var(--space-xxxl) - var(--space-sm));
  font-style: italic;
  font-size: var(--font-size-xs);
  color: var(--color-text-light);
  text-align: right;
  content: "Por que motivo \A isso foi dito?";
  white-space: pre-wrap;
}

.verse-reason::after {
  position: absolute;
  margin-top: -0.3cm;
  margin-left: calc(var(--space-sm) - 0.08cm);
  content: url("images/reason-arrow.svg");
}